/* Pseudoclases */

/* unvisited link */
a:link {
  color: #FF0000;
}

/* visited link */
a:visited {
  color: #00FF00;
}

/* mouse over link */
a:hover {
  color: #FF00FF;
}

/* selected link */
a:active {
  color: blue;
}

div.hover {
  background-color: red;
  width: 200px;
  height: 200px;
}

/* mouse over div */
div.hover{
  background-color: #00FF00;
  cursor: move;
}

.primer-hijo:first-child {
  color: orange;
}
.primer-hijo:first-child b {
  color: fuchsia;
}
.primer-hijo:nth-child(2) b {
  color: #00FF00 !important;
}


/* Pseudoelementos */
.pseudo-elementos p {
  color: black;
}

.pseudo-elementos p::first-line {
  color: deeppink;
}

.pseudo-elementos p::first-letter {
  color: green;
  font-size: 22px;
}

.pseudo-elementos p::before {
  content: url(../assets/img/rayo.png);
}

.pseudo-elementos p::after {
  content: url(../assets/img/rayo.png);
}

li::marker {
  font-size: 16px;
  color: red;
}