* {
  color: black;
}

h1, h2, h3 {
  color: red;
}

.tamano-pixeles {
  width: 300px;
  border: 2px solid red;
  background-color: aqua;
}

.tamano-pixeles > p {
  font-size: 16px;
}

.tamano-em {
  border: 2px solid red;
  background-color: aqua;
  padding: 10px;
}

.tamano-em > p {
  font-size: 16px;
  line-height: 2em;
}

.tamano-em > div {
  font-size: 30px;
  border: 1px solid black;
}

.tamano-em span {
  font-size: 0.5em;
}

body {
  font-size: 12px !important;
}

.tamano-rem > p {
  font-size: 2rem;
}

.tamano-vw-vh div {
  width: 50vw;
  height: 50vh;
  background-color: black;
}

.tamano-porcentaje {
  width: 600px;
  height: 400px;
  border: 2px solid red;
}

.tamano-porcentaje p {
  width: 50%;
  height: 50%;
}